.PreguntasFrecuentes{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #47A5AA;
    color: #FFFFFF;
    height: 100%;
}

.PreguntasFrecuentes .btn{
    width: 90%;
  }