body{
    background: #ffffff;
    font-family: 'Lexend Deca', sans-serif;
    overflow-x: hidden;
  }
  
  footer
  {
     padding-top: 20px;
     font-family: 'Lexend Deca', sans-serif;
  }
  
  .footer-top
  {
      background: url(../img/silueta_footer.png);
      height: 150px;
      background-repeat: repeat, no-repeat;
      background-size: 850px;
      background-position-x: 50%;
  }
  
  .footer-bottom
  {
      display: table;
      width: 100%;
      padding-top: 0px;
      padding-bottom: 5px;
      background: linear-gradient(to bottom, #801A1C 0%, #DD3A5D 100%);
  }
  
  .footer-bottom hr
  {
      background-color: white;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  footer h4{
      color: white;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 1em;
      font-weight: normal;
  }
  
  footer .redes-sociales
  {
      text-align: center;
      margin-top: 10px;
  }
  
  footer .redes-sociales span
  {
      position: relative;
      width: 44px;
      height: 44px;
      opacity: 0.9;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 95%;
      background-position: center;
      margin: 0px 5px;
      cursor: pointer;
      background-color: #00000036;
      border-radius: 50%;
  }
  
  footer .redes-sociales span:hover{
      opacity: 1;
      background-size: 100%;
  }
  
  footer .icon-facebook
  {
      background: url(../img/facebook.png);
      background-size: contain;
  }
  
  footer .icon-twitter
  {
      background: url(../img/twitter.png);
      background-size: contain;
  }
  
  footer .icon-youtube
  {
      background: url(../img/youtube.png);
      background-size: contain;
  }
  
  footer .icon-instagram
  {
      background: url(../img/instagram.png);
      background-size: contain;
  }
  
  footer .copyright
  {
      background-color: #dd3a5d;
      font-size: 1.2em;
      color: #fefefe;
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
      font-weight: lighter;
  }
  
  footer img.logo-footer
  {
      width: 100%;
      max-width: 250px;
      display: block;
      margin: auto;
      position: relative;
      left: -30px;
  }
  
  .contacto-redes-footer
  {
      max-width: 300px;
      margin: auto;
  }
  
  .contacto-redes-footer h4{
      text-align: center;
      line-height: 1.1;
  }
  
  footer h5{
      color: #ddd;
      font-size: 1.2em;
      text-align: center;
      font-weight: lighter;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  
  /* FIN FOOTER */