.Principal{
    background: #ffffff;
    font-family: 'Lexend Deca', sans-serif;
    overflow-x: hidden;
  }

.my-4 {
    text-align: left;
}

.btn {
    width: 90%;
    background-color: rgb(11, 103, 131);
    color: white;
}

.btn:hover{
  background-color: white;
  color: #85CEE4;
}

.informacion{
  padding-top: 20px;
}


